@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E2 Partners Oefening</h1>
    <p class="lead">Een App met To Do items die zijn gelimiteerd op Skills</p></br>
    <p class="lead">Er zijn meerdere Users, ToDo Items en Skills al geseed.. Maar je kan ze uiteraard deleten of editen alsook nieuwe bijmaaken</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Om In te loggen</h2>
        <p>
            Registreer een nieuwe User,  of log in met een van de seeded users (Zoals Bob, Jos, Sarah.  Alle passwoorden zijn "password")
        </p>
        <p><a class="btn btn-default" href="/Account/Login">Log In &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>ToDos</h2>
        <p>
            ToDos hebben een Titel en Omschrijving.  Je kan hier ook meerdere Skills op definiëren.
            Users kunnen Items opnemen als zij de bijpassende skills bezitten, en deze op "To Do", "In Progress" of "Done" zetten.
        </p>
        <p><a class="btn btn-default" href="/ToDoItems/Index">Ga naar To Do's &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Skills</h2>
        <p>Skills hebben alleen een titel.  Je kan deze via "Edit" koppelen aan meerdere users. Alle users kunnen Skills toekennen, er zit geen authorisation op</p>
        <p><a class="btn btn-default" href="/Skills/Index">Ga naar Skills &raquo;</a></p>
    </div>
</div>